In [14]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

## loading at the data

In [15]:
df = pd.read_csv('./../../data/eemployes_data.csv')

## inspecting the data
the data is allready clean
the churn column is the label column it is unblanced and we should super sample it

In [16]:
df.isna().sum()

satisfaction            0
evaluation              0
number_of_projects      0
average_montly_hours    0
time_spend_company      0
work_accident           0
churn                   0
promotion               0
department              0
salary                  0
dtype: int64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   satisfaction          14999 non-null  float64
 1   evaluation            14999 non-null  float64
 2   number_of_projects    14999 non-null  int64
 3   average_montly_hours  14999 non-null  int64
 4   time_spend_company    14999 non-null  int64
 5   work_accident         14999 non-null  int64
 6   churn                 14999 non-null  int64
 7   promotion             14999 non-null  int64
 8   department            14999 non-null  object
 9   salary                14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [18]:
df.satisfaction.dtypes

dtype('float64')

In [19]:
for col in df.columns:
    print(' ', col, '\n', df[col].value_counts(), '\n')

  satisfaction
 0.10    358
0.11    335
0.74    257
0.77    252
0.84    247
       ...
0.25     34
0.28     31
0.27     30
0.12     30
0.26     30
Name: satisfaction, Length: 92, dtype: int64

  evaluation
 0.55    358
0.50    353
0.54    350
0.51    345
0.57    333
       ...
0.39     52
0.43     50
0.38     50
0.44     44
0.36     22
Name: evaluation, Length: 65, dtype: int64

  number_of_projects
 4    4365
3    4055
5    2761
2    2388
6    1174
7     256
Name: number_of_projects, dtype: int64

  average_montly_hours
 156    153
135    153
149    148
151    147
160    136
      ...
297      7
303      6
288      6
299      6
96       6
Name: average_montly_hours, Length: 215, dtype: int64

  time_spend_company
 3     6443
2     3244
4     2557
5     1473
6      718
10     214
7      188
8      162
Name: time_spend_company, dtype: int64

  work_accident
 0    12830
1     2169
Name: work_accident, dtype: int64

  churn
 0    11428
1     3571
Name: churn, dtype: int64

  promotion
 0    14680
1      319
Name: promotion, dtype: int64

  department
 sales          4140
technical      2720
support        2229
IT             1227
product_mng     902
marketing       858
RandD           787
accounting      767
hr              739
management      630
Name: department, dtype: int64

  salary
 low       7316
medium    6446
high      1237
Name: salary, dtype: int64

## prepering the data 
we see that we'll have to cast and one hot code the colums ans well

### normalzing the the int and floats making them into float32

In [20]:
numeric_columns = df.columns[:-5] 
numeric_columns

Index(['satisfaction', 'evaluation', 'number_of_projects',
       'average_montly_hours', 'time_spend_company'],
      dtype='object')

In [7]:
def normilaze_and_cast_to_float(df ,col):
    column_array = df[col].values
    max_value = column_array.max()
    min_value =column_array.min()
    delimiter =  column_array.max()- column_array.min()
    trasformed_array = (column_array - min_value) / delimiter
    df[col] = trasformed_array
    df[col] = df[col].astype('float32')

In [8]:
for col in numeric_columns:
    normilaze_and_cast_to_float(df=df, col=col)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   satisfaction          14999 non-null  float32
 1   evaluation            14999 non-null  float32
 2   number_of_projects    14999 non-null  float32
 3   average_montly_hours  14999 non-null  float32
 4   time_spend_company    14999 non-null  float32
 5   work_accident         14999 non-null  int64
 6   churn                 14999 non-null  int64
 7   promotion             14999 non-null  int64
 8   department            14999 non-null  object
 9   salary                14999 non-null  object
dtypes: float32(5), int64(3), object(2)
memory usage: 879.0+ KB

In [10]:
for col in numeric_columns:
    print(df[col].value_counts())

0.010989    358
0.021978    335
0.714286    257
0.747253    252
0.824176    247
           ...
0.175824     34
0.208791     31
0.186813     30
0.032967     30
0.197802     30
Name: satisfaction, Length: 92, dtype: int64
0.296875    358
0.218750    353
0.281250    350
0.234375    345
0.328125    333
           ...
0.046875     52
0.109375     50
0.031250     50
0.125000     44
0.000000     22
Name: evaluation, Length: 65, dtype: int64
0.4    4365
0.2    4055
0.6    2761
0.0    2388
0.8    1174
1.0     256
Name: number_of_projects, dtype: int64
0.182243    153
0.280374    153
0.247664    148
0.257009    147
0.299065    136
           ...
0.939252      7
0.967290      6
0.948598      6
0.897196      6
0.000000      6
Name: average_montly_hours, Length: 215, dtype: int64
0.125    6443
0.000    3244
0.250    2557
0.375    1473
0.500     718
1.000     214
0.625     188
0.750     162
Name: time_spend_company, dtype: int64

In [11]:
### casting the 0,1 columns into bool
df.work_accident = df.work_accident.astype('float32')
df.promotion = df.promotion.astype('float32')

In [12]:
## turning the salary columns into low = 0 , medium = 0.5 and high = 1 and then calsting as float32
df['salary_coded'] = 0
df['salary_coded'] = np.where(df.salary == 'high', 1, 0.5) 
df['salary_coded'] = df['salary_coded'].astype('float32')

In [13]:
# one hot coding department 
one_hot = pd.get_dummies(df.department)
for col in one_hot.columns:
    one_hot[col] = one_hot[col].astype('float32')
df = df.join(one_hot)

In [14]:
# get rid of the unneeded columns and rearrange the columns so the churn is a float and the last columns ready for the split 
df.drop(columns=['salary', 'department'], inplace=True)

In [15]:
x_columns=list(df.columns)
x_columns.remove('churn')

In [16]:
x_columns[:7]

['satisfaction',
 'evaluation',
 'number_of_projects',
 'average_montly_hours',
 'time_spend_company',
 'work_accident',
 'promotion']

In [17]:
# float to the front and bools to the back
x_data = df[['satisfaction','evaluation',
 'number_of_projects',
 'average_montly_hours',
 'time_spend_company', 'salary_coded',
  'work_accident', 'promotion',
  'IT',
 'RandD',
 'accounting',
 'hr',
 'management',
 'marketing',
 'product_mng',
 'sales',
 'support',
 'technical']]

In [18]:
y_data = df.churn.astype('float32')

In [19]:
x_data.to_csv('./data/features.csv' ,index=False, header=False)
y_data.to_csv('./data/label.csv', index=False, header=False)

In [20]:
x_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   satisfaction          14999 non-null  float32
 1   evaluation            14999 non-null  float32
 2   number_of_projects    14999 non-null  float32
 3   average_montly_hours  14999 non-null  float32
 4   time_spend_company    14999 non-null  float32
 5   salary_coded          14999 non-null  float32
 6   work_accident         14999 non-null  float32
 7   promotion             14999 non-null  float32
 8   IT                    14999 non-null  float32
 9   RandD                 14999 non-null  float32
 10  accounting            14999 non-null  float32
 11  hr                    14999 non-null  float32
 12  management            14999 non-null  float32
 13  marketing             14999 non-null  float32
 14  product_mng           14999 non-null  float32
 15  sales                 14999 non-null  float32
 16  support               14999 non-null  float32
 17  technical             14999 non-null  float32
dtypes: float32(18)
memory usage: 1.0 MB