In [34]:
import numpy as np
import pandas as pd
import json

In [10]:
path = '../../data/processed_files/first_data_base.csv'

In [11]:
y = np.genfromtxt('../../data/processed_files/first_data_base.csv',delimiter=',')

In [16]:
df = pd.read_csv(path, index_col=0, header=0)

In [18]:
y = df['churn'].values

In [19]:
y

array([1., 1., 1., ..., 1., 1., 1.])

In [29]:
label = 'churn'
columns = list(df.copy().columns)
columns.remove(label)

In [30]:
columns

['satisfaction',
 'evaluation',
 'number_of_projects',
 'average_montly_hours',
 'time_spend_company',
 'work_accident',
 'promotion',
 'IT',
 'RandD',
 'accounting',
 'hr',
 'management',
 'marketing',
 'product_mng',
 'sales',
 'support',
 'technical']

Index(['satisfaction', 'evaluation', 'number_of_projects',
       'average_montly_hours', 'time_spend_company', 'work_accident', 'churn',
       'promotion', 'IT', 'RandD', 'accounting', 'hr', 'management',
       'marketing', 'product_mng', 'sales', 'support', 'technical'],
      dtype='object')

In [47]:
df.to_json('file.json', orient='records')

In [48]:
with open('file.json', 'r') as f:
    d = json.load(f)

In [55]:
lst = np.array()
for line in d:
    d['churn']

TypeError: array() missing required argument 'object' (pos 1)

In [59]:
df.values

array([[0.31868133, 0.265625  , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.7802198 , 0.78125   , 0.6       , ..., 1.        , 0.        ,
        0.        ],
       [0.02197802, 0.8125    , 1.        , ..., 1.        , 0.        ,
        0.        ],
       ...,
       [0.30769232, 0.265625  , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.02197802, 0.9375    , 0.8       , ..., 0.        , 1.        ,
        0.        ],
       [0.30769232, 0.25      , 0.        , ..., 0.        , 1.        ,
        0.        ]])

In [100]:
lst = {}

In [71]:
for col in lst:
    print(col)

{'col': {'type': 'numeric', 'min': 0, 'max': 12}}

In [81]:
 columns = df.columns

In [82]:
 columns = ['satisfaction', 'evaluation', 'number_of_projects']

In [83]:
 columns

['satisfaction', 'evaluation', 'number_of_projects']

In [101]:
for col in columns:
    lst[col] = {}

In [102]:
lst['satisfaction']['type'] = 'numeric'

In [103]:
lst

{'satisfaction': {'type': 'numeric'},
 'evaluation': {'type': None},
 'number_of_projects': {'type': None}}

In [104]:
for col in columns:
    lst[col]['type'] = 'numeric'

In [105]:
for col in columns:
    lst[col]['max'] = np.max(df[col].values)

In [106]:
lst

{'satisfaction': {'type': 'numeric', 'max': 1.0},
 'evaluation': {'type': 'numeric', 'max': 1.0},
 'number_of_projects': {'type': 'numeric', 'max': 1.0}}

In [97]:
lst = []

In [108]:
df.head()

,satisfaction,evaluation,number_of_projects,average_montly_hours,time_spend_company,work_accident,churn,promotion,IT,RandD,accounting,hr,management,marketing,product_mng,sales,support,technical
0,0.318681,0.265625,0.0,0.285047,0.125,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.780220,0.781250,0.6,0.775701,0.500,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.021978,0.812500,1.0,0.822430,0.250,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.692308,0.796875,0.6,0.593458,0.375,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.307692,0.250000,0.0,0.294393,0.125,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0